# dependencies
node_modules
.pnpm-store

# build output
.next/
.turbo
dist/
*.tsbuildinfo

# env
.env*.local
.env

# editor / os
.DS_Store
.vscode/
.idea/

# vercel / v0
.vercel/
.snowflake/
.v0-trash/
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
next.user-config.*
.vercel
